.layout-2-across-text {
    width:100%;
    text-align:left;
    display:block;
}

.layout-2-across-text .block-text-left {
	float:left;
    width: 46%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

.layout-2-across-text .block-text-right {
	float:right;
    width: 46%;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    .layout-2-across .exhibit-item {
        clear:both !important; 
        display:block !important;      
        width:100% !important;
        padding: 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .layout-2-across .exhibit-item {
        clear:both !important;       
        display:block !important;      
        width:100% !important;
        padding: 0px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .layout-2-across .block-text-left {
        clear:both !important;
        display:block !important;      
        width:100% !important; 
        padding: 0px !important;      
    }
    .layout-2-across .block-text-right {
        clear:both !important;
        display:block !important;      
        width:100% !important; 
        padding: 0px !important;      
    }
}

@media only screen and (max-width: 640px) {
    .layout-2-across .block-text-left {
        clear:both !important;
        display:block !important;      
        width:100% !important;     
        padding: 0px !important;  
    }
    .layout-2-across .block-text-right {
        clear:both !important;
        display:block !important;      
        width:100% !important; 
        padding: 0px !important;      
    }

}