.layout-5-grid {
    width:100%;
    text-align:center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout-5-grid .gallery {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.layout-5-grid .gallery .exhibit-item {
    width: 96%;
    padding: 2%;
}

.layout-5-grid a {
    border-bottom: 0;
}

.layout-5-grid .exhibit-item-link *,
.layout-5-grid .download-file * {
    margin-bottom: 2%;
}

.layout-5-grid .exhibit-item {
    display: inherit;
    vertical-align: top;
    margin-bottom: 1.25%;
    padding:10px !important;
}
  
.layout-5-grid .exhibit-item-caption p {
    margin: 0 0 2% 0;
}


.layout-5-grid .exhibit-item-title {
    font-size:1.25em;
    font-weight:bold;
}

.layout-5-grid .exhibit-item-date {
    font-style:italic;
    font-size:1.25em;
    margin-bottom:0.5em;
}

.layout-5-grid .gallery .5-grid-portrait {
    -webkit-flex: 5 0 0;
    -ms-flex: 5 0 0;
    flex: 5 0 0;
}

.layout-5-grid .gallery .5-grid-landscape {
    -webkit-flex: 7 0 0;
    -ms-flex: 7 0 0;
    flex: 7 0 0;
}

.layout-5-grid .gallery .5-grid-portrait.left,
.layout-5-grid .gallery .5-grid-landscape.right {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.layout-5-grid .gallery .5-grid-portrait.right,
.layout-5-grid .gallery .5-grid-landscape.left {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    .layout-5-grid .exhibit-item {
        clear:both !important; 
        display:block !important;      
        width:100% !important;
        padding: 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .layout-5-grid .exhibit-item {
        clear:both !important;       
        display:block !important;      
        width:100% !important;
        padding: 0px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .layout-5-grid .exhibit-item {
        clear:both !important;
        display:block !important;      
        width:100% !important; 
        padding: 0px !important;      
    }
}

@media only screen and (max-width: 640px) {
    .layout-5-grid .exhibit-item {
        clear:both !important;
        display:block !important;      
        width:100% !important;     
        padding: 0px !important;  
    }


}